* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../Assets/fundo.jpg");
    background-size: cover;
}

h1 {
    color: rgb(228, 142, 29);
    font-family:fantasy ;
    font-size: 60px;
    text-align: center;
}

form {
    padding: 30px;
    background-color: rgb(250, 250, 250);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    opacity: 0.8; 

}

label {
    color: black;
    font-family: fantasy;
    font-size: 23px;
    display: block;
    margin-bottom: 10px;
}
input {
    padding: 10px;
    border-radius: 5px;
}

button{
    color: rgb(0, 0, 0);
    padding: 8px;
    width: 100px;
    background-color: rgb(223, 144, 41);
    border: 30px;
    border-radius: 5px;
    
}